.app{
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
  height: 80vh;
  overflow-y: scroll;
}
.app ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.app ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  border-bottom: 1px solid yellowgreen;
  margin-bottom: 1rem;
  width: 90%;
}

button{
border: none;
background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 0.5rem 0.75rem;
color: white;
border-radius: 1rem;
}